<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8">
	<title>hello vue</title>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!-- 插值 -->
	<div id="app">
		<h1>{{ message }}</h1>
	</div>
	<!-- 绑定属性 -->
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<!-- 条件判断 -->
	<div id="app-3">
		<p v-if="seen">如果seen为true，你就能看到这句话。</p>
	</div>
	<!-- 循环 -->
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">{{ todo.text }}</li>
		</ol>
	</div>
	<!-- 事件绑定 -->
	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<!-- 双向绑定 -->
	<div>
		<div id="app-6">
			<p>{{message}}</p>
			<input type="text" v-model="message">
		</div>
	</div>
	<!-- 组件化应用构建 -->
	<div id="app-7">
		<ol>
			<!-- 为每个todo-item对象提供一个todo对象和key -->
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		</ol>
	</div>
</body>
<script type="text/javascript">
	// 插值
	var app = new Vue({
		el: "#app",
		data: {
			message: "Hello Vue!"
		}
	});
	// 绑定属性
	var app2 = new Vue({
		el: "#app-2",
		data: {
			message: "页面加载于" + new Date().toLocaleString()
		}
	});
	// 条件判断
	var app3 = new Vue({
		el: "#app-3",
		data: {
			seen: true
		}
	});
	// 循环
	var app4 = new Vue({
		el: "#app-4",
		data: {
			todos: [
				{ text: "学习 。。。" },
				{ text: "学习 。。。" },
				{ text: "学习 。。。" }
			]
		}
	});

	// 事件绑定
	var app5 = new Vue({
		el: '#app-5',
		data: {
			message: 'Hello Vue.js!'
		},
		methods: {
			reverseMessage: function () {
				this.message = this.message.split('').reverse().join('')
			}
		}
	});
	// 双向绑定
	var app6 = new Vue({
		el: '#app-6',
		data: {
			message: 'Hello Vue!'
		}
	});

	// 组件化应用构建
	
	// 先注册组件
	Vue.component('todo-item', {
		// todo-item组件接受一个prop属性todo
		props: ['todo'],
		template: '<li>{{ todo.text }}</li>'
	});
	// 后实例化应用
	var app = new Vue({
		el: '#app-7',
		data: {
			groceryList: [
				{id: 0, text: '蔬菜'},
				{id: 1, text: '水果'},
				{id: 2, text: '其他'}
			]
		}
	});
</script>
</html>