<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!-- handle user input -->
	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<div>
		<div id="app-6">
			<p>{{message}}</p>
			<input type="text" v-model="message">
		</div>
	</div>

	<!-- 组件化应用构建 -->
	<div id="app-7">
		<ol>
			<!-- 为每个todo-item对象提供一个todo对象和key -->
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		</ol>
	</div>
</body>
<script type="text/javascript">
	// handle user input
	var app5 = new Vue({
		el: '#app-5',
		data: {
			message: 'Hello Vue.js!'
		},
		methods: {
			reverseMessage: function () {
				this.message = this.message.split('').reverse().join('')
			}
		}
	});

	var app6 = new Vue({
		el: '#app-6',
		data: {
			message: 'Hello Vue!'
		}
	});

	// 组件化应用构建
	
	// 先注册组件
	Vue.component('todo-item', {
		// todo-item组件接受一个prop属性todo
		props: ['todo'],
		template: '<li>{{ todo.text }}</li>'
	});
	// 后实例化应用
	var app = new Vue({
		el: '#app-7',
		data: {
			groceryList: [
				{id: 0, text: '蔬菜'},
				{id: 1, text: '水果'},
				{id: 2, text: '其他'}
			]
		}
	});
</script>
</html>